<?xml version='1.0' encoding='utf-8'?>
<widget id="com.glowing_bear" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Glowing Bear</name>
    <description>
        IRC for the 21st century
    </description>
    <author email="dev@4z2.de" href="https://github.com/lorenzhs">
        Lorenz Hübschle-Schneider
    </author>
    <content src="index.html" />
    <access origin="" />
</widget>
