<?xml version='1.0' encoding='utf-8'?>
<widget id="com.glowing_bear" version="0.4.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Glowing Bear</name>
    <description>
        IRC for the 21st century
    </description>
    <author email="lorenz@4z2.de" href="https://github.com/lorenzhs">
        Lorenz Hübschle-Schneider
    </author>
    <content src="index.html" />
	<platform name="firefoxos">
        <icon src="icons/glowing_bear_60x60.png" width="60" height="60" />
	</platform>
    <access origin="*" />
    <platform name="android">
        <icon src="icons/glowing_bear_192x192.png" density="xxxhdpi" />
        <icon src="icons/glowing_bear_144x144.png" density="xxhdpi" />
        <icon src="icons/glowing_bear_96x96.png" density="xhdpi" />
        <icon src="icons/glowing_bear_72x72.png" density="hdpi" />
        <icon src="icons/glowing_bear_48x48.png" density="mdpi" />
        <preference name="SplashScreen" value="splash" />
        <preference name="SplashScreenDelay" value="5000" />
    </platform>
</widget>
